<section class="login-section">
  <h4>KITTY I/O</h4>
  <a class="login fa fa-github-square" style="font-size:20rem" href="/redirect"></a>
  <p class="loginP">Press the giant github icon to login and you must be a member of FACN1</p>
</section>
